{% extends "layout.html" %}

{% block title %}Pizarra{% endblock %}

{% block container %}
<h1>Pizarra</h1>

<p>
  <a href="/es"><img alt="Español" title="Español" src="/static/img/spanish.png" /></a>
  <a href="/en"><img alt="English" title="English" src="/static/img/english.png" /></a>
</p>
{% endblock %}
