<!DOCTYPE html>
<html id="html">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />

    {% block css %}{% endblock %}
  </head>
  <body>
    {% block body %}
      <div class="container">
        {% block container %}{% endblock %}
      </div>
    {% endblock %}

    {% block scripts %}{% endblock %}
  </body>
</html>
