{% extends "layout.html" %}

{% block title %}Pizarra{% endblock %}

{% block container %}
  <section id="intro">
    <h1>Pizarra</h1>

    <p>
      A digital, vectorial and infinite chalkboard.
    </p>

    <h2>Downloads</h2>

    <ul>
      <li><a href="https://aur.archlinux.org/packages/?O=0&K=pizarra" target="_blank" rel="noopener">Packages for archlinux</a></li>
      <li><a href="https://pizarra.categulario.xyz/releases/debian/" target="_blank" rel="noopener">Downloads for Debian/Ubuntu</a></li>
      <li><a href="https://pizarra.categulario.xyz/releases/any-linux/" target="_blank" rel="noopener">Downloads for any linux</a></li>
      <li><a href="https://pizarra.categulario.xyz/releases/windows/" target="_blank" rel="noopener">Downloads for windows</a></li>
      <li><a href="https://gitlab.com/categulario/pizarra-gtk" target="_blank" rel="noopener">Source code</a></li>
      <li><a href="#install">Installation</a></li>
    </ul>

    <h2>How so?</h2>

    <p>
      Pizarra is a desktop application for free-hand drawing. It is designed for
      making live explanations, complex diagrams and eventually presentations.
    </p>

    <figure>
      <img
        src="/static/img/en/this_is_pizarra.png"
        alt="Pizarra UI" />
    </figure>

    <p>
      The user interface is clean to maximize the drawing surface on screeen and
      the tooling minimal to keep it simple.
    </p>

    <h2>What can I do with it?</h2>

    <figure>
      <img
        src="/static/img/en/tools.png"
        alt="Showcase of the five essential tools of pizarra: the line, the
        circle, the polygon, the rectangle and the ellipse" />
    </figure>

    <p>
      You have in front of your eyes an infinite canvas in every direction,
      including inwards and outwards zoom (ok, there might be a technical limit
      for it). There are also some basic drawing tools:
    </p>

    <ul>
      <li>the free-hand line (it is the default tool)</li>
      <li>the rectangle,</li>
      <li>the circle (from its center and radius or three points),</li>
      <li>the polygon (with curve and smooth segments),</li>
      <li>the ellipse (from the foci),</li>
      <li>the grids (screen aligned or free),</li>
      <li>and the eraser.</li>
    </ul>

    <p>
      Aditionally you can adjust the thickness and transparency of the pen.
    </p>

    <h2>How do I do it?</h2>

    <figure>
      <img
        src="/static/img/en/options.png"
        alt="Detail of the options in the pizarra UI" />
    </figure>

    <ul>
      <li>Click and drag on the canvas to draw.</li>
      <li>
        Use thie first button of your stylus or the middle button of your mouse
        to move the canvas. Add <code>Shift</code> to rotate it.
      </li>
      <li>
        Use the options in the toolbar to adjust color, zoom, tool, thickness or
        transparency.
      </li>
    </ul>

    <h2>What is the file format?</h2>

    <p>
      The format in use for saving and opening files is <a
      href="https://en.wikipedia.org/wiki/Scalable_Vector_Graphics"
      target="_blank" rel="noopener">SVG</a>. It is an standard image format for
      vector drawing compatible with the web. From this format I use an
      unspecified subset (It tends to grow very little in some pizarra
      versions).
    </p>

    <p>
      More precisely this is what happens: if a file was created with Pizarra it
      will be opened with any later version and any other SVG-compatible
      software. If a file was created with any other program opening it with
      pizarra is undefined behavior. I can't promise it will work.
    </p>

    <p>
      Aditionally there is the possibility of exporting your drawing as
      <code>PNG</code> image. This files, however, cannot be opened with Pizarra
      again. Exporting files is meant to share the view of a drawing in
      platforms not compatible with vector images (like social networks).
    </p>

    <h2>Some keyboard shortcuts</h2>

    <table class="table" cellspacing="0" cellpadding="5">
      <tr><td><code>L</code></td><td>Switch to the pen</td></tr>
      <tr><td><code>R</code></td><td>Switch to the rectangle</td></tr>
      <tr><td><code>P</code></td><td>Switch to the polygon</td></tr>
      <tr><td><code>C</code></td><td>Switch to the circle (from center and
          radius)</td></tr>
      <tr><td><code>K</code></td><td>Switch to the circle (from three points)</td></tr>
      <tr><td><code>E</code></td><td>Switch to the ellipse</td></tr>
      <tr><td><code>G</code></td><td>Switch to the eraser</td></tr>
      <tr><td><code>Q</code></td><td>Switch to the grid</td></tr>
      <tr><td><code>Alt + Q</code></td><td>Switch to the free grid</td></tr>
      <tr><td><code>+</code></td><td>Zoom in</td></tr>
      <tr><td><code>-</code></td><td>Zoom out</td></tr>
      <tr><td><code>0</code></td><td>Go back to the original zoom</td></tr>
      <tr><td><code>Alt + C</code></td><td>Change color</td></tr>
      <tr><td><code>Ctrl + S</code></td><td>Save as SVG</td></tr>
      <tr><td><code>Ctrl + Shift + E</code></td><td>Export as PNG</td></tr>
      <tr><td><code>Ctrl + Z</code></td><td>Undo last action</td></tr>
      <tr><td><code>Ctrl + Shift + Z</code></td><td>Undo last undo</td></tr>
    </table>

    <h2>For whom is this?</h2>

    <figure>
      <img
        src="/static/img/en/for_whom.png"
        alt="Pizarra, from me for you with love" />
    </figure>

    <p>
      If you like making drawings to accompany your explanations for other
      people or yourself, this might be the right tool.
    </p>

    <p>
      The motivation behind its creation was the need to have a clean interface
      with mostly canvas where I could make diagrams and complex explanations.
      Like in a chalkboard but for the computer and of infinite size.
    </p>

    <p>
      And of course to take advantaje of my wacom tablet. Although in a
      touchscreen it is just as useful.
    </p>
  </section>

  <section id="install">
    <h2>Ok, how do I install it?</h2>

    <h3><i>Btw, I use Arch</i></h3>

    <p>
      Me too! The easiest way is using the AUR packages, either the <a
      href="https://aur.archlinux.org/packages/pizarra-bin/"
      target="_blank">binary</a> (<code>pizarra-bin</code>) or <a
      href="https://aur.archlinux.org/packages/pizarra-git/"
      target="_blank">compiling from scratch</a> (<code>pizarra-git</code>).
    </p>

    <p>
      If you use <b>Manjaro Linux</b> you can use <i>Add/Remove software</i>
      program searching for <i>Pizarra</i> (If you can't find it you might need
      to enable AUR support in the settings).
    </p>

    <h3>I use Debian/Ubuntu</h3>

    <p>
      Awesome, A package for that platform just came out of the oven. Search for
      the latest version in the <a href="/releases/debian/">download list</a>
    </p>

    <h3>I use some other linux</h3>

    <p>
      No problem, chances are you can download the <a
      href="/releases/any-linux/">binary for the latest version</a> and run it
      without problems.
    </p>

    <h3>I use Windows</h3>

    <p>
      I made an installer for you! And let me tell you it wass a PITA. It works
      for 64-bit windows.
    </p>

    <p class="text-center">
      <a href="/releases/windows/pizarra-latest-x86_64.msi">Download the last
        version</a>, <a href="/releases/windows/">See all the downloads</a> or
      <a
      href="https://blog.categulario.xyz/como-compilar-la-pizarra-en-windows.html"
      target="_blank">learn how to build it yourself</a>.
    </p>

    <h3>I use Mac</h3>

    <p>
      Ok, this is the deal: I don't have myself a mac, therefore I cannot build
      the installer. So unless someone does this for me you have to build
      pizarra yourself. Don't worry, is not that difficult, it's a matter of
      doing these things:
    </p>

    <ul>
      <li>
        Having <a href="https://www.rust-lang.org/" target="_blank"
        rel="noopener">rust</a> installed. Follow the instructions of <a
        href="https://rustup.rs/" target="_blank" rel="noopener">rustup</a>.
      </li>
      <li>
        Having <a href="https://brew.sh/" target="_blank" rel="noopener">homebrew</a>.
      </li>
    </ul>

    <p>
      And doing the following:
    </p>

    <pre>
      <code>
# Install the required packages for the installation
brew install gtk+3 adwaita-icon-theme
# Clone the repository
git clone https://gitlab.com/categulario/pizarra-gtk.git
# compile and run
cd pizarra-gtk
cargo run --release
      </code>
    </pre>

    <p>
      I have trustworthy information that this works. If you try it don't
      hesitate to write to me so I can extend this information.
    </p>

    <h3>I don't trust your binaries, give me the code</h3>

    <p>
      You certainly don't have to. So here is the <a
      href="https://gitlab.com/categulario/pizarra-gtk">source code</a> in case
      you want to compile from scratch. It can be done from any Linux or windows
      and in case you need a hand I'm here to help (find me on mastodon or
      twitter as <code>categulario</code>).
    </p>

    <h2 id="related-software">Related software</h2>

    <p>
      During development I've found (and I've been told of) other software with
      similar purpose. Here is the list.
    </p>

    <ul>
      <li>
        <a href="https://openboard.ch/index.en.html" target="_blank"
        rel="noopener">OpenBoard</a> is also a digital board with a relatively
        clean UI and a lot of tools made with <code>C++/Qt</code>.
      </li>
      <li>
        <a href="https://xournalpp.github.io/" target="_blank" rel="noopener">
          Xournal++</a> is like a digital notebook (with pages and everything)
        whose code I've read to learn how to do certain things. Made with
        <code>C++/Gtk</code>.
      </li>
      <li>
        <a href="https://github.com/mbrlabs/Lorien" target="_blank"
          rel="noopener">Lorien</a>. I think whoever created this had exactly
        the same idea and it looks a lot like pizarra (it has the zoom (except
        inwards), the canvas and even the background color) but it differs in
        the file format, in how the eraser works and the available tools.
      </li>
      <li>
        <a href="http://unruhschuh.github.io/MrWriter/" target="_blank"
          rel="noopener">MrWriter</a>. It looks like a newer compilation of
        Xournal++ with some different features.
      </li>
      <li>
        <a href="https://github.com/flxzt/rnote" target="_blank"
          rel="noopener">Rnote</a>. A cool and actively developed application
        for taking free-hand notes. It can open a variety of file formats. Also
        made with <code>Rust+Gtk</code>.
      </li>
      <li>
        <a href="http://www.styluslabs.com/download/" target="_blank"
          rel="noopener">Write</a>. Another application with a canvas limited to
        the page size but interesting marker functionality. Made with
        <code>Qt</coode>.
      </li>
      <li>
        <a href="https://github.com/lovasoa/whitebophir" target="_blank"
          rel="noopener">Whitebophir</a>. Online-only with collaboration.
      </li>
      <li>
        <a href="https://github.com/toger5/TheBoard" target="_blank"
          rel="noopener">The Board</a>. Online and collaboratibe but uses a matrix room as backend which is curious.
      </li>
      <li>
        <a href="https://docs.butterfly.linwood.dev/" target="_blank"
          rel="noopener">Linwood Butterfly</a>. Another multiplatform note taking app.
      </li>
    </ul>
  </section>
{% endblock %}
