{% extends "layout.html" %}

{% block title %}Pizarra{% endblock %}

{% block container %}
  <section id="intro">
    <h1>Pizarra</h1>

    <p>
      Como un pizarrón de gis, pero digital, vectorial e infinito.
    </p>

    <h2>Descargas</h2>

    <ul>
      <li><a href="https://aur.archlinux.org/packages/?O=0&K=pizarra" target="_blank" rel="noopener">Paquetes para archlinux</a></li>
      <li><a href="https://pizarra.categulario.xyz/releases/debian/" target="_blank" rel="noopener">Descargas para Debian/Ubuntu</a></li>
      <li><a href="https://pizarra.categulario.xyz/releases/any-linux/" target="_blank" rel="noopener">Descargas para cualquier linux</a></li>
      <li><a href="https://pizarra.categulario.xyz/releases/windows/" target="_blank" rel="noopener">Descargas para windows</a></li>
      <li><a href="https://gitlab.com/categulario/pizarra-gtk" target="_blank" rel="noopener">Código fuente</a></li>
      <li><a href="#install">Instalación</a></li>
    </ul>

    <h2>¿Cómo así?</h2>

    <p>
      La pizarra es una aplicación de escritorio para el dibujo a mano alzada.
      Está pensada para hacer explicaciones, diagramas sencillos y eventualmente
      presentaciones.
    </p>

    <figure>
      <img
        src="/static/img/es/esto_es_la_pizarra.png"
        alt="Interfaz de la pizarra" />
    </figure>

    <p>
      La interfaz es limpia para maximizar el espacio para dibujar, y las
      herramientas mínimas para mantenerlo simple.
    </p>

    <h2>¿Qué puedo hacer?</h2>

    <figure>
      <img
        src="/static/img/es/herramientas.png"
        alt="Exhibición de las cinco herramientas básicas de la pizarra: la
        línea, la circunferencia, el polígono, el rectángulo y la elipse." />
    </figure>

    <p>
      Tienes frente a tus ojos un lienzo de tamaño infinito hacia todos lados,
      incluído el zoom hacia adentro y hacia afuera (ok, en realidad sí hay
      límite en el zoom, por cuestiones técnicas). Hay también algunas
      herramientas básicas de dibujo:
    </p>

    <ul>
      <li>La línea a mano alzada (es la herramienta por defecto),</li>
      <li>el rectángulo,</li>
      <li>la circunferencia (dado el centro o dados tres puntos),</li>
      <li>el polígono,</li>
      <li>la elipse (dados dos focos),</li>
      <li>rejillas (perpendiculares y libres),</li>
      <li>y la goma.</li>
    </ul>

    <p>
      Adicionalmente puedes cambiar el grosor y la transparencia de la pluma.
    </p>

    <h2>¿Cómo lo hago?</h2>

    <figure>
      <img
        src="/static/img/es/opciones.png"
        alt="Detalle de las opciones en la interfaz de la pizarra" />
    </figure>

    <ul>
      <li>Da click y arrastra sobre el lienzo para dibujar.</li>
      <li>
        Usa el primer botón de tu lápiz digital o el botón medio del mouse para
        desplazar el lienzo. Añade la tecla <code>Shift</code> para girarlo.
      </li>
      <li>Usa las opciones de la barra superior para cambiar el color,
        el nivel de zoom, la herramienta, el grosor o la transparencia
        del trazo.</li>
    </ul>

    <h2>¿Qué formato de archivo usas?</h2>

    <p>
      El formato de archivo que la pizarra lee y escribe es <a
      href="https://es.wikipedia.org/wiki/Gr%C3%A1ficos_vectoriales_escalables"
      target="_blank" rel="noopener">SVG</a>, que es un formato de imagen
      vectorial estándar y compatible con la web. De este formato utilizo un
      subconjunto no especificado (que suele crecer pero muy poquito en algunas
      versiones de la pizarra).
    </p>

    <p>
      Más precisamente sucede lo siguiente: si un archivo fue creado con la
      pizarra este podrá ser abierto con cualquier versión posterior y con
      cualquier otro software que maneje gráficos vectoriales. Si un archivo fue
      creado con cualquier otro programa abrirlo con la pizarra es
      comportamiento indefinido, no te prometo que vaya a funcionar.
    </p>

    <p>
      Adicionalmente existe la posibilidad de exportar el dibujo completo como
      <code>PNG</code>, sin embargo estos archivos no se pueden abrir de nuevo
      en la pizarra. Esta opción está pensada para compartir la visualización
      del dibujo en medios no compatibles con vectores (como las redes
      sociales).
    </p>

    <h2>Algunos atajos del teclado</h2>

    <table class="table" cellspacing="0" cellpadding="5">
      <tr><td><code>L</code></td><td>Cambiar al lápiz</td></tr>
      <tr><td><code>R</code></td><td>Cambiar al rectángulo</td></tr>
      <tr><td><code>P</code></td><td>Cambiar al polígono</td></tr>
      <tr><td><code>C</code></td><td>Cambiar al círculo (a partir del centro y
          radio)</td></tr>
      <tr><td><code>K</code></td><td>Cambiar al círculo (a partir de tres
          puntos)</td></tr>
      <tr><td><code>E</code></td><td>Cambiar a la elipse</td></tr>
      <tr><td><code>G</code></td><td>Cambiar a la goma</td></tr>
      <tr><td><code>Q</code></td><td>Cambiar a la rejilla</td></tr>
      <tr><td><code>Alt + Q</code></td><td>Cambiar a la rejilla libre</td></tr>
      <tr><td><code>+</code></td><td>Zoom hacia adentro</td></tr>
      <tr><td><code>-</code></td><td>Zoom hacia afuera</td></tr>
      <tr><td><code>0</code></td><td>Regresar al zoom original</td></tr>
      <tr><td><code>Alt + C</code></td><td>Alternar el color</td></tr>
      <tr><td><code>Ctrl + S</code></td><td>Guardar como svg</td></tr>
      <tr><td><code>Ctrl + Shift + E</code></td><td>Exportar como PNG</td></tr>
      <tr><td><code>Ctrl + Z</code></td><td>Deshacer la última figura</td></tr>
      <tr><td><code>Ctrl + Shift + Z</code></td><td>Deshacer el último deshacer</td></tr>
    </table>

    <h2>¿Para quién es esto?</h2>

    <figure>
      <img
        src="/static/img/es/para_quien.png"
        alt="La pizarra, de mi para ti con cariño" />
    </figure>

    <p>
      Si te gusta hacer dibujitos para explicar cosas a otras personas o
      a ti, esta puede ser la herramienta adecuada.
    </p>

    <p>
      La motivación detrás de su creación fue la necesidad de tener una
      interfaz limpia que fuera principalmente puro lienzo para poder
      hacer diagramas y explicaciones elaboradas. Como en un pintarrón
      pero para la computadora y de tamaño infinito.
    </p>

    <p>
      Y claro, para sacarle provecho a mi tableta digitalizadora. Aunque
      seguramente en una pantalla táctil es igual de útil.
    </p>
  </section>

  <section id="install">
    <h2>Ok, ¿Y cómo la instalo?</h2>

    <h3><i>Btw, uso Arch</i></h3>

    <p>
      ¡Yo también! La forma más fácil es usando el paquete AUR de la
      pizarra, ya sea el <a
      href="https://aur.archlinux.org/packages/pizarra-bin/"
      target="_blank">binario</a> (<code>pizarra-bin</code>) o <a
      href="https://aur.archlinux.org/packages/pizarra-git/"
      target="_blank">compilarla desde 0</a> (<code>pizarra-git</code>).
    </p>

    <p>
      Si usas <b>Manjaro Linux</b> puedes usar la interfaz de
      <i>Añadir/Quitar Software</i> buscando por el nombre
      <i>pizarra</i> (Si no lo encuentras quizá haya que ir a
      configuraciones y activar el soporte de AUR).
    </p>

    <h3>Uso Debian/Ubuntu</h3>

    <p>
      Perfecto, tengo un paquete para esa plataforma recién salido del
      horno. Busca la última versión en la <a href="/releases/debian/">
      lista de descargas</a>
    </p>

    <h3>Uso algún otro linux</h3>

    <p>
      No hay ningún problema, probablemente puedes descargar <a
      href="/releases/any-linux/">un binario de la última versión</a> y
      ejecutarlo en tu máquina sin problemas.
    </p>

    <h3>Uso Windows</h3>

    <p>
      ¡Hice un instalador para ti! Y déjame decirte que fue una friega. Funciona
      para windows de 64 bits.
    </p>

    <p class="text-center">
      <a href="/releases/windows/pizarra-latest-x86_64.msi">Descarga
      aquí la última versión</a>, <a href="/releases/windows/">ve todas las
      descargas.</a> o <a
      href="https://blog.categulario.xyz/como-compilar-la-pizarra-en-windows.html"
      target="_blank">aprende a compilarla</a>.
    </p>

    <h3 id="install-in-mac">Uso Mac</h3>

    <p>
      Ok, este es el asunto: Como no tengo yo mismo una mac no puedo generar un
      instalador, así que al menos que alguien haga esto por mi tienes que
      construir la pizarra tu misma. Descuida, no es tan difícil, solamente hay
      que hacer estas cosas:
    </p>

    <ul>
      <li>
        Tener rust instalado. Sigue las instrucciones de <a
        href="https://rustup.rs/" target="_blank" rel="noopener">rustup</a>.
      </li>
      <li>
        Tener <a href="https://brew.sh/" target="_blank" rel="noopener">homebrew</a>.
      </li>
    </ul>

    <p>
      Y hacer lo siguiente:
    </p>

    <pre>
      <code>
# Instala cosas requeridas para la compilación
brew install gtk+3 adwaita-icon-theme
# Clona el repo
git clone https://gitlab.com/categulario/pizarra-gtk.git
# Y compila
cd pizarra-gtk
cargo run --release
      </code>
    </pre>

    <p>
      Hay reportes de que esto ha funcionado. Si lo intentas no dudes en
      escribirme para ampliar estas instrucciones.
    </p>

    <h3>No confío en tus binarios, dame el código fuente</h3>

    <p>
      Y no tendrías por qué, así que pongo a tu disposición <a
      href="https://gitlab.com/categulario/pizarra-gtk">el código
      fuente</a> por si quieres compilarla desde 0. Se puede hacer desde
      cualquier Linux o Windows y si necesitas una mano estoy aquí para
      ayudar (búscame en mastodon o twitter como <code>categulario</code>).
    </p>

    <h2>Software relacionado</h2>

    <p>
      Durante el desarrollo de la pizarra me he ido encontrando (y me han ido
      pasando) referencias a otras aplicaciones con propósitos similares. Aquí
      la lista en su totalidad.
    </p>

    <ul>
      <li>
        <a href="https://openboard.ch/index.en.html" target="_blank"
        rel="noopener">OpenBoard</a>, es también un pintarrón digital con una
        interfaz relativamente limpia y un montón de herramientas hecho en
        C++/Qt
      </li>
      <li>
        <a href="https://xournalpp.github.io/" target="_blank" rel="noopener">
          Xournal++</a>, una aplicación que emula una libreta digital (con
        páginas y todo) de la cual me ha servido revisar el código fuente para
        averiguar cómo hacer algunas cosas para la pizarra. Hecha en C++/Gtk
      </li>
      <li>
        <a href="https://github.com/mbrlabs/Lorien" target="_blank"
          rel="noopener"> Lorien</a>. Creo que la persona que lo desarrolla tuvo
        exactamente la misma idea que yo, y en ese sentido se parece bastante en
        sus principios (zoom (excepto hacia adentro), lienzo, hasta el color)
        pero difiere en el formato de guardado (lorien usa uno propio), el
        funcionamiento de la goma y en las herramientas disponibles.
      </li>
      <li>
        <a href="http://unruhschuh.github.io/MrWriter/" target="_blank"
          rel="noopener">MrWriter</a>. Lo pongo por completitud de la lista,
        parece más bien una recompilación Xournal++ con algunas características
        distintas.
      </li>
      <li>
        <a href="https://github.com/flxzt/rnote" target="_blank"
          rel="noopener">Rnote</a>. Una aplicación para tomar notas a mano
        alzada con lienzo limitado al tamaño de la página. Puede abrir e
        importar varios formatos. También está hecha en Rust+Gtk.
      </li>
      <li>
        <a href="http://www.styluslabs.com/download/" target="_blank"
          rel="noopener">Write</a>. Otra aplicación con lienzo limitado a
        páginas pero funciones interesantes de marcadores. Hecha en Qt.
      </li>
      <li>
        <a href="https://github.com/lovasoa/whitebophir" target="_blank"
          rel="noopener">Whitebophir</a>. Esta no es de escritorio sino en línea
        y permite colaboración.
      </li>
      <li>
        <a href="https://github.com/toger5/TheBoard" target="_blank"
          rel="noopener">The Board</a>. Igualmente en línea y colaborativo, pero
        requiere una sala de matrix, lo cual es curioso.
      </li>
      <li>
        <a href="https://docs.butterfly.linwood.dev/" target="_blank"
          rel="noopener">Linwood Butterfly</a>. Otra aplicación multiplataforma para tomar notas a mano alzada.
      </li>
    </ul>
  </section>
{% endblock %}
